@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Ysabeau:wght@300&display=swap");

@media screen and (max-width: 766.9px) {
  .main {
    display: flex;
    flex-direction: column;
  }

  .home {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 10px 30px;
  }

  .h2 {
    color: #eb9a9a;
    font-family: "Nunito", sans-serif;
    margin: 0;
    margin-top: 10px;
  }

  .p1 {
    font-size: 17px;
    font-family: "Ysabeau", sans-serif;
    max-width: 90%;
    margin: 10px 0;
  }

  .p2 {
    font-size: 17px;
    font-family: "Ysabeau", sans-serif;
    max-width: 90%;
    margin: 0;
  }

  .cartoon {
    margin: 20px auto 50px;
    width: 250px;
    height: 250px;
  }
}

@media screen and (min-width: 768px) {
  .main {
    display: flex;
    flex-direction: row;
  }

  .home {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 10px 70px;
  }

  .h2 {
    color: #eb9a9a;
    font-family: "Nunito", sans-serif;
    margin: 0;
    margin-top: 10px;
  }

  .p1 {
    font-size: 16px;
    font-family: "Ysabeau", sans-serif;
    max-width: 90%;
    margin: 10px 0;
  }

  .p2 {
    font-size: 16px;
    font-family: "Ysabeau", sans-serif;
    max-width: 90%;
    margin: 0;
  }

  .cartoon {
    position: relative;
    top: 44px;
    right: 50px;
    width: 250px;
    height: 250px;
  }
}
