@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Ysabeau:wght@300&display=swap");
.navbar {
  font-family: "Ysabeau", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 30px;
}

.heading {
  font-family: "Ysabeau", sans-serif;
  font-size: 33px;
  font-weight: 700;
  color: #2f84bd;
}

.ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  list-style: none;
}

.li {
  font-size: 18px;
}

.link {
  text-decoration: none;
  color: rgb(101, 115, 115);
}
